@import '~bootstrap/scss/bootstrap';


body {
  background-image: url(https://distributor.golding.eu/notebook-with-sticky-notes-black--8532-01--hd.jpg);
  background-size: cover;
  -webkit-filter: blur(0px);
}

#signOut,
#changePW,
#newNote,
#displayAllNotes {
  display: none;
}
